.auth {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

}

.auth-body {
  
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 40px;
  max-width: 400px;
  width: 100%;
  text-align: center;
}

.auth-title {
  font-size: 1.8rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
}

.auth-desc {
  font-size: 1rem;
  color: #666;
  margin-bottom: 30px;
}

.input-group {
  margin-bottom: 20px;
}

.label {
  display: block;
  text-align: left;
  margin-bottom: 5px;
  color: #555;
}

.input-container {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  overflow: hidden;
}

input {
  width: calc(100% - 10px);
  padding: 10px;
  border: none;
  outline: none;
  background-color: transparent;
}

.auth-btn {
  width: 100%;
  border: none;
  height: 40px;
  border-radius: 4px;
  font-size: 1rem;
  font-weight: bold;
  background-color: #ff8c00; /* Updated button background color */
  color: #fff;
  transition: background-color 0.3s, color 0.3s;
}

.auth-btn:hover {
  background-color: #ff8c00; /* Updated button hover color */
}

.auth-btn:focus {
  box-shadow: 0 0 0 4px rgba(66, 133, 244, 0.4);
  outline: none;
}

.message {
  font-size: 0.9rem;
  color: #888;
}

.link-to {
  color: #ff8c00; /* Updated link color */
  text-decoration: none;
  font-weight: bold;
}

.link-to:hover {
  text-decoration: underline;
}
