/* navbar.component.css */

.wrapper {
    background-color: #08d4f8;
    color: #0e0e0e;
    padding: 10px 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

h3 {
    margin: 0;
}

.nav-items {
    list-style: none;
    padding: 0;
    display: flex;
}

.nav-items li {
    margin-right: 20px;
}

.nav-link {
    color: #0f0e0e;
    text-decoration: none;
    transition: color 0.3s;
}

.nav-link:hover {
    color: #ff5733;
}

.active {
    font-weight: bold;
}
