  <header class="wrapper">
    <div class="navbar">
      <h3 class="logo">Catalog</h3>
      <nav>
        <ul class="nav-items">
          <!-- Admin Links -->
          <ng-container *ngIf="authService.isUserAdmin(); ">
            <li>
              <a routerLink="/product" class="nav-link" appAuthClick routerLinkActive="active">Product</a>
            </li>
            <li>
              <a routerLink="/feature" class="nav-link" appAuthClick routerLinkActive="active">Feature</a>
            </li>
            <li>
              <a routerLink="/parameter" class="nav-link" appAuthClick routerLinkActive="active">Parameter</a>
            </li>
            <li>
              <a routerLink="/summary" class="nav-link" appAuthClick routerLinkActive="active">Summary</a>
            </li>
          </ng-container>

          

          <!-- Login/Logout Links -->
          <li *ngIf="!authService.isLoggedIn || authService.isExpired(); else logoutLink">
            <a routerLink="/login" class="nav-link" routerLinkActive="active">Login</a>
          </li>

          <!-- Admin Logout Link -->
          <ng-template #logoutLink>
            <li>
              <a class="nav-link" (click)="authService.logout()" routerLinkActive="active">Logout</a>
            </li>
          </ng-template>
        </ul>
      </nav>
    </div>
  </header>

