.wrapper {
    height: 60px;
    background-color: white;
    border-bottom: 1px solid #e7e7e7;
    display: flex;
    align-items: center;
}

.navbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 90%;
    margin: auto;
    background-color: #39e617; /* Dark background color for the navbar */
    color: white; /* Text color for the navbar items */
    padding: 10px 0; /* Add some padding for better spacing */
}

.nav-items {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.nav-link {
    text-decoration: none;
    color: #007bff; /* Blue color for links */
    font-weight: 700;
    font-size: 16px;
    cursor: pointer;
}

.active {
    background-color: #007bff; /* Blue background color for active link */
    color: white; /* White text color for active link */
    border-radius: 4px; /* Rounded corners for active link */
    padding: 5px 10px; /* Add padding to make it more prominent */
}
