<h3>Parameters</h3>

<table>
  <thead>
    <tr>
      <th> parameterID</th>
      <th>name</th>
      <th>internal_name</th>
      <th>details</th>
      <th>parameterType</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let parameter of data">
      <td>{{ parameter.parameterId }}</td>
      <td>{{ parameter.name }}</td>
      <td>{{ parameter.internalName }}</td>
      <td>{{ parameter.details }}</td>
      <td>{{ parameter.parameterType }}</td>
    </tr>
  </tbody>
</table>
<form [formGroup]="parameterForm">
  <div>
    <label for="name">Name:</label>
    <input type="text" id="name" formControlName="name">
  </div>
  <div>
    <label for="internalName">internalName:</label>
    <input type="text" id="internalName" formControlName="internalName">
  </div>
  <div>
    <label for="details">details:</label>
    <textarea id="details" formControlName="details"></textarea>
  </div>
  <div>
    <label for="parameterType">parameter type:</label>
    <input type="text" id="ParameterType" formControlName="parameterType">
  </div>
  <div>
    <button (click)="addParameter()">Add Parameter</button>
  </div>
</form>
