<h3>Features</h3>
<div class="product-container">
  <div *ngFor="let feature of data" class="product-card">
    <div class="product-info">
      <p><strong>FeatureID:</strong> {{ feature.featureId }}</p>
      <p><strong>Name:</strong> {{ feature.name }}</p>
      <p><strong>Internal Name:</strong> {{ feature.internalName }}</p>
      <p><strong>Details:</strong> {{ feature.details }}</p>
    </div>
    <div class="product-actions">
      <button (click)="toggleEditForm()">Edit</button>
      <button (click)="toggleAddParameterForm()">Add Parameter</button>
    </div>
  </div>
</div>

<div *ngIf="showAddParameterForm" class="modal">
  <div class="modal-content">
    <form [formGroup]="parameterForm">
      <div>
        <label for="name">Name:</label>
        <input type="text" id="name" formControlName="name">
      </div>
      <div>
        <label for="internalName">InternalName:</label>
        <input type="text" id="internalName" formControlName="internalName">
      </div>
      <div>
        <label for="details">Details:</label>
        <input type="text" id="details" formControlName="details">
      </div>
      <div>
        <label for="parameterType">Parameter Type:</label>
        <select id="parameterType" formControlName="parameterType">
          <option *ngFor="let type of parameterTypes" [value]="type">{{ type }}</option>
        </select>
      </div>
      <div>
        <label for="values">Values:</label>
        <input type="text" id="values" formControlName="values">
      </div>
      <button (click)="addParameterToFeature()">Add Parameter</button>
    </form>
  </div>
</div>

<!-- Edit Feature Form -->
<div *ngIf="showEditForm" class="modal">
  <div class="modal-content">
    <form [formGroup]="featureForm">
      <div>
        <label for="name">Name:</label>
        <input type="text" id="name" formControlName="name">
      </div>
      <div>
        <label for="internalName">InternalName:</label>
        <input type="text" id="internalName" formControlName="internalName">
      </div>
      <div>
        <label for="details">Details:</label>
        <input type="text" id="details" formControlName="details">
      </div>
      <button (click)="editFeature()">Edit</button>
    </form>
  </div>
</div>

<h3>Parameters</h3>
<div class="product-container">
  <div>
    <label for="featureIdSelect">Select Feature by ID:</label>
    <select id="featureIdSelect" [(ngModel)]="selectedFeatureId">
      <option *ngFor="let feature of data" [value]="feature.featureId">{{ feature.featureId }}</option>
    </select>
    <button class="primary-button" (click)="loadParametersByFeatureId()">Load Parameters</button>
    <!-- <button class="load-parameters-button" (click)="loadParametersByFeatureId()">Load Parameters</button> -->
  </div>
  <div *ngFor="let parameter of parameters" class="product-card">
    <div class="product-info">
      <p><strong>ParameterID:</strong> {{ parameter.parameterId }}</p>
      <p><strong>Name:</strong> {{ parameter.name }}</p>
      <p><strong>Internal Name:</strong> {{ parameter.internalName }}</p>
      <p><strong>Parameter Type:</strong> {{ parameter.parameterType }}</p>
      <p><strong>Values:</strong> {{ parameter.values }}</p>
    </div>
  </div>
</div>
