<h3>Features</h3>

<table>
  <thead>
    <tr>
      <th>FeatureID</th>
      <th>Name</th>
      <th>InternalName</th>
      <th>Details</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let feature of data">
      <td>{{ feature.featureId }}</td>
      <td>{{ feature.name }}</td>
      <td>{{ feature.internalName }}</td>
      <td>{{ feature.details }}</td>
    </tr>
  </tbody>
</table>

<button (click)="toggleAddForm()">Add Feature</button>
<div *ngIf="showAddForm">
<form [formGroup]="featureForm">
  <div>
    <label for="name">Name:</label>
    <input type="text" id="name" formControlName="name">
  </div>
  <div>
    <label for="internalName">internalName:</label>
    <input type="text" id="internalName" formControlName="internalName">
  </div>
  <div>
    <label for="details">details:</label>
    <textarea id="details" formControlName="details"></textarea>
  </div>
  <div>
    <button (click)="addFeature()">Add Feature</button>
  </div>
</form>
</div>


<button (click)="toggleAddParameterForm()">Add Parameters to Feature</button>
<div *ngIf="showAddParameterForm">
<form [formGroup]="parameterForm">
  <label for="name">Name:</label>
  <input type="text" id="name" formControlName="name">

  <label for="internalName">InternalName:</label>
  <input type="text" id="internalName" formControlName="internalName">

  <label for="details">Details:</label>
  <input type="text" id="details" formControlName="details">

  <div>
    <label for="parameterType">Parameter Type:</label>
    <select id="parameterType" formControlName="parameterType">
      <option *ngFor="let type of parameterTypes" [value]="type">{{ type }}</option>
    </select>
  </div>
</form>

<!-- Dropdown for selecting a product by its ID -->
<div>
  <label for="feature">Select Feature by ID:</label>
  <select id="feature" [(ngModel)]="selectedFeatureId">
    <option *ngFor="let feature of data" [value]="feature.featureId">{{ feature.featureId }}</option>
  </select>
</div>

<!-- Button to edit the selected product -->
<button (click)="addParameterToFeature()">Add Parameter</button>
</div>


<!-- Edit Product Form -->
<button (click)="toggleEditForm()">Edit</button>
<div *ngIf="showEditForm">
<form [formGroup]="featureForm">
  <label for="name">Name:</label>
  <input type="text" id="name" formControlName="name">

  <label for="internalName">InternalName:</label>
  <input type="text" id="internalName" formControlName="internalName">

  <label for="details">Details:</label>
  <input type="text" id="details" formControlName="details">

  
</form>


<div>
  <label for="feature">Select Feature by ID:</label>
  <select id="feature" [(ngModel)]="selectedFeatureId">
    <option *ngFor="let feature of data" [value]="feature.featureId">{{ feature.featureId }}</option>
  </select>
</div>

<!-- Button to edit the selected product -->
<button (click)="editFeature()">Edit</button>
</div>


<h3>Parameters</h3>

Dropdown to select a feature by its ID
<div>
  <label for="featureIdSelect">Select Feature by ID:</label>
  <select id="featureIdSelect" [(ngModel)]="selectedFeatureId">
    <option *ngFor="let product of  data" [value]="product.featureId">{{ product.featureId }}</option>
  </select>
  <button (click)="loadParametersByFeatureId()">Load Parameters</button>
</div>

<table>
  <thead>
    <tr>
      <th>details</th>
      <th>name</th>
      <th>internal_name</th>
      <th>parameterType</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let parameter of parameters">
      <td>{{ parameter.name }}</td>
      <td>{{ parameter.internalName }}</td>
      <td>{{ parameter.details }}</td>
      <td>{{ parameter.parameterType }}</td>
    </tr>
  </tbody>
</table>












